.page-header-image {
  background-image: url('../../../images/construction.jpg');
  background-position: center;
  background-repeat: no-repeat;
  height: fit-content;
  background-size: cover;
}
.page-title-text {
  padding-top: 214px;
  padding-bottom: 120px;
}
.title-text {
  color: white;
  text-shadow: 1px 1px 1px #000;
}
.page-header {
  margin-top: 0;
  padding: 15px 0;
  padding-top: 88px;
  background-color: darkgrey;
  border: (1px solid #e9e9e9);
}
.page-title {
  font-size: 26px;
  font-weight: 700;
  font-size: 35px;
  text-transform: uppercase;
  font-family: Montserrat;
  color: #333;
  letter-spacing: -0.2px;
  line-height: 1.3;
  text-transform: unset;
}
.content {
  display: flex;
  flex-direction: row;
}
.contact-message {
  padding: 0 20px;
  width: 100%;
}
.contact-text {
  margin-top: 60px !important;
  margin-bottom: 40px;
}
.company-info {
  padding: 0 20px;
  width: 100%;
}
.gps-map {
  height: 422px;
  width: 545px;
}
.row {
  margin-bottom: 30px;
}
.addresses {
  display: flex;
  flex-direction: row;
}
.info-inner {
  margin-top: 60px !important;
  margin-bottom: 40px !important;
  padding: 0 20px;
  width: -webkit-fill-available;
}
.info-title {
  font-family: Monsterrat;
  font-weight: 400;
  color: #333;
  font-size: 18px;
  margin-bottom: 12px;
  text-transform: uppercase;
  letter-spacing: -0.2px;
  line-height: 1.7;
}
.info-content {
  font-family: PT Sans;
  color: #777;
  font-size: 14px;
  line-height: 1.7;
}
.location {
  padding: 10px 0;
  color: #777;
  font-weight: 600;
  border: (1px solid #e9e9e9);
}
.pages {
  .grid-container {
    margin-top: 25px;
  }
}
@media (max-width: 1024px) {
  .content {
    display: flex;
    flex-direction: column;
  }
  .gps-map {
    width: auto;
  }
  .page-title {
    text-align: center;
  }
}
