.slider {
  height: fit-content;
  .slider-image {
    height: fit-content;
  }
}
.carousel-inner {
  min-height: 290px;
  max-height: 650px;
}
.carousel-item {
  min-height: 290px;
  max-height: 650px;
}
.carousel-caption {
  text-align: start;
  top: 240px;
  z-index: 0;
  max-width: 1130px;
  margin-left: auto;
  margin-right: auto;
}
.carousel-indicators {
  visibility: hidden;
  height: 0;
  margin: 0;
}
.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba($color: #000000, $alpha: 0.2);
}
.carousel-control-prev,
.carousel-control-next {
  height: 100px;
  margin: auto 0;
  z-index: 0;
}
.slider-title {
  text-transform: uppercase;
  z-index: 8;
  white-space: nowrap;
  color: rgb(255, 255, 255);
  visibility: inherit;
  transition: none 0s ease 0s;
  text-align: left;
  line-height: 40px;
  border-width: 0px;
  margin: 0px;
  padding: 0px;
  letter-spacing: -1px;
  font-weight: 700;
  font-size: 40px;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  opacity: 1;
  transform-origin: 50% 50% 0px;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  padding-bottom: 20px;
}
.slider-text {
  z-index: 9;
  white-space: nowrap;
  visibility: inherit;
  transition: none 0s ease 0s;
  text-align: left;
  line-height: 27px;
  border-width: 0px;
  margin: 0px;
  padding: 0px;
  letter-spacing: 0px;
  font-weight: 400;
  font-size: 16px;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  opacity: 1;
  transform-origin: 50% 50% 0px;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  padding-bottom: 20px;
}
.slider-button1 {
  font-family: "Montserrat", sans-serif;
  width: 163px;
  height: 44px;

  background-color: #fab702;
  color: #ffffff !important;

  z-index: 11;
  white-space: nowrap;
  font-weight: 400;
  color: rgb(0, 0, 0);
  font-family: Arial;
  visibility: inherit;
  transition: none 0s ease 0s;
  text-align: left;
  line-height: 23px;
  border-width: 0px;
  margin: 0px;
  padding: 0px;
  letter-spacing: 0px;
  font-size: 14px;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  opacity: 1;
  transform-origin: 50% 50% 0px;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);

  transition: none 0s ease 0s;
  text-align: inherit;
  line-height: 13px;
  border-width: 0px;
  margin: 3px 15px 0px 0px;
  padding: 13px 18px 15px;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 13px;

  display: inline-block;
  border-radius: 2px;
  font-family: "Montserrat";
}
.slider-button2 {
  font-family: "Montserrat", sans-serif;
  width: 159px;
  height: 44px;

  white-space: nowrap;
  font-weight: 400;
  color: rgb(0, 0, 0);
  font-family: Arial;
  visibility: inherit;
  transition: none 0s ease 0s;
  text-align: left;
  line-height: 23px;
  border-width: 0px;
  margin: 0px;
  padding: 0px;
  letter-spacing: 0px;
  font-size: 14px;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  opacity: 1;
  transform-origin: 50% 50% 0px;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);

  transition: none 0s ease 0s;
  text-align: inherit;
  line-height: 13px;
  border-width: 2px;
  margin: 3px 5px 0px 0px;
  padding: 11px 18px 13px;
  letter-spacing: 1px;
  font-weight: 500;

  background: transparent;
  border: 2px solid #fff;
  border-radius: 3px;
  box-shadow: none !important;
  color: #fff;
}
.slider-button2:hover {
  color: black;
  background-color: #fff;
}
@media (max-width: 1024px) {
  .carousel-inner {
    max-height: 300px;
  }
  .carousel-item {
    max-height: 300px;
  }
  .slider-title {
    font-size: 15px;
    padding-bottom: 5px;
  }
  .slider-text {
    font-size: 15px;
    padding-bottom: 5px;
    max-width: fit-content;
    word-break: keep-all;
  }
  .carousel-caption {
    top: auto;
  }
  .slider-button1 {
    width: fit-content;
  }
  .slider-button2 {
    width: fit-content;
  }
}
