.page-header {
  padding: 15px 0;
  padding-top: 88px;
  background-color: darkgrey;
  border: (1px solid #e9e9e9);
}
.page-title {
  font-weight: 700;
  font-size: 35px;
  text-transform: uppercase;
  font-family: Montserrat;
  color: #333;
  letter-spacing: -0.2px;
  line-height: 1.3;
}

.location {
  padding: 10px 0;
  color: #777;
  font-weight: 600;
  border: (1px solid #e9e9e9);
}

.pages {
  .grid-container {
    margin-top: 25px;
  }
}
.card {
  width: auto;
}
.grid-container {
  grid-template-columns: auto auto;
}
.grid-item {
  width: -webkit-fill-available;
}
.card-body {
  width: -webkit-fill-available;
}
.card-link {
  font-size: 13px;
  line-height: 30px;
  color: #fff;
  font-weight: 800;
  padding: 2px 15px 3px 15px;
  border-radius: 2px 2px 2px 2px;
  background: #fab702;
  z-index: 2 !important;
  display: block;
  font-family: 'Montserrat';
}
@media (max-width: 1024px) {
  .grid-container {
    width: auto;
    grid-template-columns: auto;
  }
  .card-image {
    width: -webkit-fill-available;
    margin: 0;
  }
  .card-content {
    padding: 0;
    visibility: inherit;
    width: fit-content;
    height: fit-content;
  }
  .page-title {
    text-align: center;
  }
  .grid-item {
    width: auto;
    padding: 10px;
  }
  .card-body {
    padding: 0;
    width: -webkit-fill-available;
  }
  .page-title {
    text-align: center;
  }
}
