@import 'variables.scss';

@import '~bootstrap/scss/bootstrap';

.items {
  height: fit-content;
  min-height: 300px;
  padding: 50px 0;
}
.items-head {
  width: fit-content;
  margin-bottom: 30px;
}
.items-content {
  padding-left: 20px;
  padding-top: 10px;
}
ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}
a {
  text-decoration: none;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  max-width: 1130px;
  grid-column-gap: 40px;
  grid-row-gap: 20px;
  margin-bottom: 40px;
}
.grid-item {
  width: 350px;
}
.head-underline {
  display: inline-block;
  width: 80px;
  height: 2px;
  background-color: #fab702;
}
.worknews {
  background-color: #222;
}
.card {
  background-color: rgba($color: #000000, $alpha: 0);
}
.card-body {
  padding: 0;
  width: 350px;
}
main {
  position: relative;
  top: -88px;
}
.item-title {
  margin: 0;
  padding: 0;
  width: fit-content;
  font-weight: 700;
  font-size: 26px;
  font-family: 'Montserrat';
  color: #333;
  line-height: 1.2;
  letter-spacing: -0.2px;
}
.card {
  width: fit-content;
}
@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: auto;
  }
  .grid-item {
    width: auto;
    padding: 10px;
  }
  .card-body {
    padding: 0;
    width: auto;
  }
  .card {
    width: auto;
  }
}
