.page-header {
  padding: 15px 0;
  padding-top: 88px;
  background-color: darkgrey;
  border: (1px solid #e9e9e9);
}
.page-title {
  font-weight: 700;
  font-size: 35px;
  text-transform: uppercase;
  font-family: Montserrat;
  color: #333;
  letter-spacing: -0.2px;
  line-height: 1.3;
}
.location {
  padding: 10px 0;
  color: #777;
  font-weight: 600;
  border: (1px solid #e9e9e9);
}
.card {
  width: auto;
}
.card-title {
  color: #333;
  font-family: 'Monsterrat';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.7;
  letter-spacing: -0.2px;
}
.card-content-text {
  font-family: 'PT Sans';
  color: #777;
  font-size: 14px;
  margin-bottom: 15px;
  line-height: 1.7;
}
.card-link {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.3px;
}
.grid-container {
  grid-template-columns: auto auto;
}
.grid-item {
  width: -webkit-fill-available;
}
.card-body {
  width: -webkit-fill-available;
}
@media (max-width: 1024px) {
  .grid-container {
    width: auto;
    grid-template-columns: auto;
  }
  .card-image {
    width: -webkit-fill-available;
    margin: 0;
  }
  .card-content {
    padding: 0;
    visibility: inherit;
    width: fit-content;
    height: fit-content;
  }
}
