@media (max-width: 1024px) {
  .grid-item {
    width: auto;
    padding: 10px;
  }
  .card-body {
    padding: 0;
    width: -webkit-fill-available;
  }
  .page-title {
    text-align: center;
  }
}
.card-title {
  color: #333;
  font-family: 'Monsterrat';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.7;
  letter-spacing: -0.2px;
}
.card-content-text {
  font-family: 'PT Sans';
  color: #777;
  font-size: 14px;
  margin-bottom: 15px;
}
.card-link {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.3px;
}
.page-header {
  padding: 15px 0;
  padding-top: 88px;
  background-color: darkgrey;
  border: (1px solid #e9e9e9);
}
.page-title {
  font-weight: 700;
  font-size: 35px;
  text-transform: uppercase;
  font-family: Montserrat;
  color: #333;
  letter-spacing: -0.2px;
  line-height: 1.3;
}
.location {
  padding: 10px 0;
  color: #777;
  font-weight: 600;
  border: (1px solid #e9e9e9);
}
.pages {
  .grid-container {
    margin-top: 25px;
  }
}
