.certified-title {
  font-family: Montserrat;
  font-weight: 400;
  color: #333;
  font-size: 18px;
  margin-bottom: 12px;
}
.certified-content {
  margin-bottom: 15px;
  margin-top: 0;
  font-family: "PT Sans";
  color: #777;
  font-size: 14px;
}
.grid-item-certified {
  padding: 0 20px;
  text-align: center;
}
.svg {
  padding-bottom: 20px;
}
